<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>2 Organized - när du behöver ordning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--   FONT                                     ---------------------->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS & FAVICON                              ---------------------->
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/styleNew.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>


<body>
<header>
    <center>
        <!-- HEADER LOGOTYP                         ---------------------->
       <br> <a href="/"> <img src="../static/2 organized.png" th:src="'/2 organized.png'" width="10%"></a>
        <h1>2 Organized</h1>
        <p><em>- vi håller koll på grejerna</em></p></center></header>
<div class="container">

        <center>
            <a class="button button-primary" th:each="room : ${rooms}" style="..." th:href="'/room/' + ${room.id}"
               th:text="${room.roomName}"></a>
            <a class="button" th:href="'/add'">Add</a>
        </center></div>




</body>
</html>
